<!DOCTYPE html>
<html>
	<head>
		<title>Chordite Cheat Sheet</title>
		<style>
      table {
        border-collapse: collapse;
      }

      tbody {
        float: left;
        margin-left: 2em;
      }

			td:first-child {
				font: bold 110% sans-serif;
        text-align: right;
        padding: 0 0.6em;
			}

      /*
      tbody > tr.even td:last-child {
				border-right: #999 2px solid;
      }
      */

      tbody > tr.odd td:first-child {
				border-left: #999 2px solid;
      }

      tr:nth-of-type(3n) {
				border-bottom: #999 2px solid;
      }

      tbody > tr.odd:last-child td {
				border-bottom: #999 2px solid;
      }

			td span {
				border: #eee 2px solid;
				width: 0.5em;
				height: 0.5em;
				display: block;
				margin: 0.1em;
			}

			td span + span {
				margin-top: 0.2em;
			}

      td {
        padding: 0.5em 0.1em;
      }

      /* blue */
			td.top span:first-child {
				border-color: #283D93;
        border-bottom-width: 0;
				background-color: #7A8EE2;
			}

      /* red */
			td.bottom span:last-child {
				border-color: #A66727;
        border-top-width: 0;
				background-color: #FFBD79;
			}

      /* green */
			td.both span {
				border-color: #249646;
				background-color: #6EE793;
			}

			td.xxxx span {
				border-color: #bbb;
				background-color: #ccc;
			}

		</style>
	</head>

	<body>
		<table>
			<thead></thead>

      <% (outputs.group_by { |s| [1, output_group(s)].max }).each do |group, outs| %>
        <tbody class="group<%= group %>">
          <% num_tr = 0 %>
          <% outs.each do |output| %>
            <% if (num_tr / 3).odd? %>
              <tr class="odd">
            <% else %>
              <tr class="even">
            <% end %>
            <% num_tr += 1 %>

              <td><%= output %></td>
              <% layout[output].chars.each do |c| class_attr = case c
                    when 'v' then 'class="bottom"'
                    when '^' then 'class="top"'
                    when '%' then 'class="both"'
                    else ''
                    end
                  %>
                <td <%= class_attr %>>
                  <span></span><span></span>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      <% end %>
		</table>
	</body>
</html>

